.collapsible-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $primary;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
  
    h3 {
      font-size: var(--fs-m);
      margin: 0;
      font-weight: 500;
    }
  
    .arrow {
      border: solid white;
      border-width: 0 3px 3px 0;
      padding: 5px;
    }
  
    .closed {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
      transition: 1s ease-in-out;
    }
  
    .open {
      transform: rotate(-315deg);
      -webkit-transform: rotate(-315deg);
      transition: 0.2s ease-in-out;
    }
  }

  .collapsible-content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.8s ease-in-out;
  }
  
  .collapsible-content.open-content {
    max-height: 1000px; 
  }
  
        
  .collapsible-content {
    p, ul {
      color: $primary;
      background: $greyLight;
      padding: 20px;
      font-size: var(--fs-sm);
      margin: 0;
      border-radius: 5px;
      font-weight: 400;
    }
  }

  