.page-not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-height: 100vh;
    gap:60px;
    color: $primary;
    margin-bottom: 50px;
    h1 {
        font-size: 288px;
        font-style: normal;
        font-weight: 700;
        margin: 0;
    }
    h2 {
        font-size: 36px;
        font-weight: 500;
        margin:0;
    }

    a {
        font-size: 18px;
        text-decoration: underline;
        color: $primary;
    }
}

@media (max-width: 767.98px) {
    .center {
        h1 {
            font-size: 96px;
        }
        h2 {
            font-size: 18px;
        }
        a {
            font-size: 14px;
        }
    }
}