.carrousel-container {
    display: flex;
    align-items: center;
  }
  
  .carrousel-image {
    max-width: 100%;
    height: auto;
  }
  
  button {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
  }
  